each photo in photos
  a.photo(href=photo[1].src, data-pswp-width=photo[1].ImageWidth, data-pswp-height=photo[1].ImageHeight)
    picture.photo-picture
      img.photo-image(src=photo[1].thumbnail, loading="lazy")
      <span class="pswp-caption-content">
        p 设备：#{photo[1].Model}
        p 镜头：#{photo[1].Lens}
        p 光圈：#{photo[1].Aperture}
        p 快门：#{photo[1].ShutterSpeed}
        p ISO：#{photo[1].ISO}
        p 焦距：#{photo[1].FocalLength}
        p 拍摄时间：#{photo[1].createDate}
      </span>
    